p{
    color: black;
    background: #e79595;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: grey;
}
button{
  background-color: blue;  
  color: white;            
  padding: 10px 20px;        
  border-radius: 5px;        
  border: none;              

}
button.hover{
    color: red;
    cursor: pointer;
}